<section>
  <div class="left-section">
    <div class="form-group">
      <label for="receiverName">Receiver Name:</label>
      <input type="text" id="receiverName" (input)="onReceiverInputChange($event)" name="receiverName" class="form-control">
    </div>
    <div class="form-group">
      <label for="paymentDate">Payment Date:</label>
      <input type="text" id="paymentDate" (input)="onDateInputChange($event)" name="paymentDate" class="form-control">
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="text" id="amount" (input)="onAmountInputChange($event)" name="amount" class="form-control">
    </div>
  </div>

  <div class="right-section">
    <div class="flex">
      <p class="bolded">Receiver Name:</p>
      <span>{{ payment.receiverName | capitalize }}</span>
    </div>

    <div class="flex">
      <p class="bolded">Payment Date:</p>
      <span>{{ payment.paymentDate | formatDate }}</span>
    </div>

    <div class="flex">
      <p class="bolded">Amount:</p>
      <span>{{ payment.amount | currency: 'JPY' }}</span>
    </div>
  </div>
</section>
